* {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  text-align: center;
}

.input, .btn {
  padding: 2em;
  margin: .5em;
}

.input {
  border: 2px solid rgb(187, 127, 187);
}

.input:focus {
  outline: none;
}

.btn {
  background-color: rgb(187, 127, 187);
  color: #fff;
}

.heading {
  background-color: rgb(187, 127, 187);
  color: #fff;
  height: 2em;
}

.box {
  padding: 2em;
  margin: 2em;
  color: rgb(187, 127, 187);
  font-size: 2em;
}